<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.svg" />
    <meta name="application-name" content="Calmo Api Clima" />
    <meta name="description" content=<%= description %> >
    <meta name="author" content="Óscar Hernández">
    <meta name="keywords" content="api, node, openweather">
    <meta name="robots" content="no-index, no-follow" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins" >
    <link rel="stylesheet" href="/assets/css/login.css" >
    <title><%= title %></title>
</head>
<body>
    <header class="flex flex-between flex-column">
        <h1 class="title-app center"><%= heading %></h1>
        <span class="center description-app"><%= description %></span>
    </header>
    <main id="container-app" class="flex flex-column flex-center">
        <header class="header-form flex flex-center">
            <picture style="width:100px" class="flex flex-center">
                <source srcset="/assets/favicon.svg" width="75" height="75" alt="Icono de Calamo API Clima. Nube Azul" media="(min-width:800px)"/>
                <img src="/assets/favicon.svg" width="75" height="75" alt="Icono de Calamo API Clima. Nube Azul">
            </picture>
        </header>
            <form id="form-login" class="flex flex-center flex-column w-full" >
                <label for="email">Email</label>
                <input id="email" class="w-full flex flex-center" type="emal" name="email" autocomplete="email" placeholder="Introduce tu correo" required/>
                <label for="password">Contraseña</label>
                <input id="password" type="password" autocomplete="password" autofocus name="password" required/>
                <button class="button">Login</button>
            </form>
        <footer class="flex flex-center w-full">
            <span class="w-full center">
                <a href="https://openweathermap.org/api"
                    rel="noreferer noopener"
                    aria-label="Link a la web de OpenWeather"
                    target="_blank"
                >
                    Información obtenida de &copy;Openweather</a>
            </span>
        </footer>
    </main>
    <footer id="site-footer" aria-label="App Footer" class="flex flex-center w-full">
        <span class="center">&copy<%= year %> <%= company %></span>
    </footer>
</body>
<script defer type="module" src="/assets/js/login.js"></script>

</html>