@import url('./variables.css');

picture > img,
picture  {
    width: 100px;
    height: 100px;
}

picture > img.icon  {
    margin-top: 24px;
    border-radius: 3px;
    filter: drop-shadow(1px, 1px, 1px --black-color);
    object-fit: cover;
}

body > header:first-of-type {
    position: absolute;
    top: 0%;
    left: 0;
    background: var(--gradient-white);
    width: 100%;
    height: fit-content;
    gap: 12px;
    filter: drop-shadow(-10px 5px 15px var(--black-color));
    padding: 24px 0px 0px 0px;
}

body >header:first-of-type > span.description-app {
    margin-top: 24px;
    color: var(--white-color);
    width: 100%;
    background: var(--gradient-blue);
    bottom: 0%;
    left: 0%;
    padding-top: 12px;
    padding-bottom: 12px;
}

footer#site-footer {
    background: var(--gradient-blue);
    padding: 24px 0px;
    position: absolute;
    bottom: 0%;
    left: 0%;
    color: var(--white-color);
}

main#container-app {
    max-width: 75%;
    width: 50%;
    margin: auto;
    background: var(--gradient-white);
}
main#container-app > header {
    padding: 24px;
}
main#container-app > article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
    padding: 0px 24px;
    width: 100%;
}

main#container-app > article > form {
    padding: 24px;
}



main#container-app > article > form > input {
    height: 40px;
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 5px 12px;
    border-radius: 5px;
}

main#container-app > article > form > input:focus,
main#container-app > article > form > input:hover {
    outline: none!important;
}
main#container-app > article > aside.data-weather h2.heading-city {
    text-transform: none!important;
}
main#container-app > footer {
    background: var(--gradient-blue);
    color: var(--white-color);
    padding: 12px 0px;
}

main#container-app > footer > span > a {
    color: var(--white-color)!important;
    line-height: 0;
}

  

.container-general-data {
    padding: 36px;
}