:root{
    --primary-color: rgb(46, 98, 166);
    --primary--light-color: rgb(59, 123, 206);
    --accent-color: rgb(51, 166, 154);
    --accent-light-color: rgba(51, 166, 155, 0.685);
    --yellow-color: rgb(217, 154, 37);
    --orange-color: rgb(242, 82, 46);
    --red-color: rgb(217, 50, 50);
    --black-color: #181818;
    --white-color: #f8f8f8;
	--secondary-white-color: #e8e8f9;
    --gradient-background: linear-gradient(45deg, rgb(57 167 156), rgb(55 140 133));
    --gradient-red: linear-gradient(45deg, var(--red-color), var(--orange-color));
    --gradient-white: linear-gradient(45deg, var(--white-color), var(--secondary-white-color));
    --gradient-blue: linear-gradient(45deg, var(--primary-color), var(--primary--light-color));
    --primary-font: Poppins, 'sans-serif';
}

* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    border:none;
    text-decoration: none;
    font-family: var(--primary-font);
}

html {
    font-size: 16px;
    line-height: 1.7em;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    padding:0;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    background: var(--gradient-background);
    position: relative;
}
h1, h2,h3,h4
{
    color: var(--primary-color);
    font-weight: 600;
    text-transform: uppercase;
}

h1{
    font-size: 48px;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-around {
    justify-content: space-around;
    align-items: center;
}

.flex-end {
    justify-content: flex-end;
    align-items: center;
}
.flex-between {
    justify-content: space-between;
    align-items: center;
}
.center {
    text-align: center;
}

.flex-row {
    flex-direction: row!important;
}

.flex-column {
    flex-direction: column!important;
}

.w-full {
    width: 100%;
}
.grid {
    display: grid;
    padding: 24px;
    justify-content: center;
    vertical-align: middle;
}

button {
    background-color: var(--accent-color);
    color: var(--white-color);
    border-radius: 5px;
    width: 80%;
    padding: 16px;
    line-height: 0;
    margin: 24px auto;
    transition: all, 0.7s ease-in-out;
}
.hidden {
    display: none!important;
}
button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

picture > img,
picture  {
    width: 100px;
    height: 100px;
}

picture > img.icon  {
    margin-top: 24px;
    border-radius: 3px;
    filter: drop-shadow(1px, 1px, 1px --black-color);
    object-fit: cover;
}

body > header:first-of-type {
    position: absolute;
    top: 0%;
    left: 0;
    background: var(--gradient-white);
    width: 100%;
    height: fit-content;
    gap: 12px;
    filter: drop-shadow(-10px 5px 15px var(--black-color));
    padding: 24px 0px 0px 0px;
}

body >header:first-of-type > span.description-app {
    margin-top: 24px;
    color: var(--white-color);
    width: 100%;
    background: var(--gradient-blue);
    bottom: 0%;
    left: 0%;
    padding-top: 12px;
    padding-bottom: 12px;
}

footer#site-footer {
    background: var(--gradient-blue);
    padding: 24px 0px;
    position: absolute;
    bottom: 0%;
    left: 0%;
    color: var(--white-color);
}

main#container-app {
    max-width: 75%;
    width: 50%;
    margin: auto;
    background: var(--gradient-white);
}
main#container-app > header {
    padding: 24px;
}
main#container-app > article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
    padding: 0px 24px;
    width: 100%;
}

main#container-app > article > form {
    padding: 24px;
}



main#container-app > article > form > input {
    height: 40px;
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 5px 12px;
    border-radius: 5px;
}

main#container-app > article > form > input:focus,
main#container-app > article > form > input:hover {
    outline: none!important;
}
main#container-app > article > aside.data-weather h2.heading-city {
    text-transform: none!important;
}
main#container-app > footer {
    background: var(--gradient-blue);
    color: var(--white-color);
    padding: 12px 0px;
}

main#container-app > footer > span > a {
    color: var(--white-color)!important;
    line-height: 0;
}

  

.container-general-data {
    padding: 36px;
}